article:hover img,
article:focus img,
article:hover video,
article:focus video {
    filter: var(--exact-filter-gray-inactive);
}

/* Videos in stories */
video:has(~ div[data-instancekey]:hover, ~ div[data-instancekey]:focus) {
    filter: var(--exact-filter-gray-inactive);
}

/* Post thumbnails in DM */
div:has(+ div + div:hover, + div + div:focus) > div > img {
    filter: var(--exact-filter-gray-inactive);
}

/*
- Post thumbnails in DM replies & previews.
- Story sent as a DM directly to user, and they open the preview

This rule applies to a lot of things in Instagram tbh
*/
div:hover > img,
div:focus > img {
    filter: var(--exact-filter-gray-inactive);
}

/* Profile grid post thumbnails e.g. https://www.instagram.com/atropey/ */
div:has(+ div:hover, + div:focus) > img {
    filter: var(--exact-filter-gray-inactive);
}

/*
Story thumbnails when you hover over the middle part.
There's an extra div that eats the :hover when that happens
*/
div:has(+ div:hover, + div:focus)
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > video:has(+ div[data-instancekey]) {
    filter: var(--exact-filter-gray-inactive);
}

/*
Story thumbnails when you hover over the middle part and there's another post in the story.
There's an extra div that eats the :hover when that happens
*/
div:has(+ div:hover, + div:focus) > div > div > img {
    filter: var(--exact-filter-gray-inactive);
}

/*
Story thumbnails when you hover over the top part and the story is an image.
There's an extra div that eats the :hover when that happens
*/
div:hover + div > div > div > div > div > img,
div:focus + div > div > div > div > div > img {
    filter: var(--exact-filter-gray-inactive);
}

/*
Story thumbnails when you hover over the top part.
There's an extra header div that eats the :hover when that happens
*/
div:hover
    + div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > video:has(+ div[data-instancekey]),
div:focus
    + div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > video:has(+ div[data-instancekey]) {
    filter: var(--exact-filter-gray-inactive);
}
