:root {
    --exact-filter-gray-active: grayscale(1) blur(6px);
}

video.vjs-tech ~ div.vjs-poster {
    filter: var(--exact-filter-gray-active);
    transition: var(--exact-filter-transition);
}
video.vjs-tech ~ div.vjs-poster:hover,
video.vjs-tech ~ div.vjs-poster:focus {
    filter: grayscale(0);
}

div.feed-shared-celebration-image__image-container:has(
        + figure:hover,
        + figure:focus
    )
    img {
    filter: var(--exact-filter-gray-inactive);
}

/**
Frosted video thumbnail (it has a button covering it)
 */
img.update-components-linekdin-video__thumbnail-image:has(+ button:hover) {
    filter: var(--exact-filter-gray-inactive);
}

/**
Header image in job posting
 */
div.update-components-carousel-job__container:hover img {
    filter: var(--exact-filter-gray-inactive);
}
