:root {
    --exact-filter-blur-radius: 8px;
    --exact-filter-gray-active: grayscale(1)
        blur(var(--exact-filter-blur-radius));
    --exact-filter-gray-inactive: grayscale(0) blur(0);
    --exact-filter-transition: filter 200ms ease-out;
}

/**
    @see {EXACT_EXTENSION_STATUS_ATTR_NAME}
    @see {EXACT_EXTENSION_STATUS_ATTR_VALUE__DISABLED}
 */
html[data-exact-extension-status='disabled'] {
    --exact-filter-gray-active: none;
}

/* Default grayscale for all media */
img,
video {
    filter: var(--exact-filter-gray-active);
    transition: var(--exact-filter-transition);
}

/* Restore color on hover/focus or if parent is hovered */
img:hover,
img:focus,
video:hover,
video:focus {
    filter: var(--exact-filter-gray-inactive);
}
