:root {
    --exact-filter-blur-radius: 12px;
}

/**
Thumbnails with play previews in general
    There's a hidden square div on top of the thumbnails in the middle, which breaks Exact
    There are also hidden rectangles to the left of the "add to queue" and "watch later" buttons
    The videos without autoplay also need the thumbnail image to unfilter when the overlay buttons are hovered
 */
yt-image:has(
        ~ div#overlays:hover,
        ~ div#overlays:focus,
        ~ div#mouseover-overlay:hover,
        ~ div#mouseover-overlay:focus,
        ~ div#hover-overlays:hover,
        ~ div#hover-overlays:focus
    )
    img {
    filter: var(--exact-filter-gray-inactive);
}

div#mouseover-overlay:has(
        + div#hover-overlays:hover,
        + div#hover-overlays:focus
    )
    ytd-moving-thumbnail-renderer
    img {
    filter: var(--exact-filter-gray-inactive);
}

ytd-moving-thumbnail-renderer:hover > img,
ytd-moving-thumbnail-renderer:focus > img {
    filter: var(--exact-filter-gray-inactive);
}

/**
Video page - Main video static (before playing it) -> Thumbnail
    It's secretly a div with background-image: url(...)
 */
div.ytp-cued-thumbnail-overlay-image {
    transition: var(--exact-filter-transition);
    filter: var(--exact-filter-gray-active);
}

div.ytp-cued-thumbnail-overlay-image:hover,
div.ytp-cued-thumbnail-overlay-image:focus {
    filter: var(--exact-filter-gray-inactive);
}

div.ytp-cued-thumbnail-overlay-image:has(
        + button.ytp-button:hover,
        + button.ytp-button:focus
    ) {
    filter: var(--exact-filter-gray-inactive);
}

/**
When the control bar of the video is hovered, remove the filter
 */
div.ytp-cued-thumbnail-overlay:has(
        ~ div.ytp-gradient-bottom:hover,
        ~ div.ytp-gradient-bottom:focus,
        ~ div.ytp-chrome-bottom:hover,
        ~ div.ytp-chrome-bottom:focus
    )
    > div.ytp-cued-thumbnail-overlay-image {
    filter: var(--exact-filter-gray-inactive);
}

div#movie_player:hover video,
div#movie_player:focus video {
    filter: var(--exact-filter-gray-inactive);
}

/**
Playlist page thumbnails
 */
yt-thumbnail-view-model
    div.yt-thumbnail-view-model__image:has(
        ~ thumbnail-hover-overlay-view-model:hover,
        ~ thumbnail-hover-overlay-view-model:focus
    )
    img.yt-core-image {
    filter: var(--exact-filter-gray-inactive);
}

/**
Thumbnails that are live previewing, when you are using the little scrub bar that appears on them
 */
div#media-container:hover video {
    filter: var(--exact-filter-gray-inactive);
}

/**
The smaller preview thumbnails that appear when you use the srub bar on a dynamic preview thumbnail
 */
ytd-video-preview:hover img.ytPlayerStoryboardStoryboardImage {
    filter: var(--exact-filter-gray-inactive);
}

/**
Account avatars under previews on home page
 */
yt-avatar-shape:hover img {
    filter: var(--exact-filter-gray-inactive);
}

/**
Youtube shorts hovering over the UI or captions
 */
ytd-reel-video-renderer:hover img,
ytd-reel-video-renderer:hover video,
ytd-reel-video-renderer:focus img,
ytd-reel-video-renderer:focus video {
    filter: var(--exact-filter-gray-inactive);
}
